<div class="container-fluid">
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <input type="file" class="file-input"
                    (change)="onFileSelected($event)" #fileUpload>

                <div class="file-upload">

                {{fileName || "No file uploaded yet."}}

                    <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                        Upload
                    </button>
                </div>
            </div>              
        </div>
    </div>
</div>