<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-data">Reactive Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/angular-directive">Directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/data-binding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/route-params', 1]">Route Params</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bootstrap-components">Bootstrap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipes">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/third-party-library">Libraries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/file-upload">File Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/toast">Toast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dynamic-form">Dynamic Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/form-array-example">Form Array</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Angular App</h1>
    <p>This is test angular app...</p>
    <p>{{ 'welcomeMessage' | translate: user }}</p>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

